<mat-card class="MainDash">
 <mat-card-title>
     Dashboard
 </mat-card-title>
 <mat-card class="DashboardDep">
    
    <mat-card-content>
        <h2>Departments Overview</h2>
        <div class="table-responsive">
           <table mat-table [dataSource]="department" >
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let department"> {{department.name}} </td>
            </ng-container>
          
            <ng-container matColumnDef="Building">
              <th mat-header-cell *matHeaderCellDef> ToDo </th>
              <td mat-cell *matCellDef="let department"> {{department.building}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsDep" ></tr>
            <tr mat-row class="selectedDepRow" *matRowDef="let department; columns: displayedColumnsDep;" 
                  [class.selected]="department === selectedDepartment" (click)="onSelectDep(department)"></tr>
          </table>


         
         </div>
         <div *ngIf="selectedDepartment">
           
           <div>
             <span>id: </span>{{selectedDepartment.id}}
           </div>
           <div>
             <span>Name: </span>{{selectedDepartment.name}}
           </div>
           <div>
            <span>Building: </span>{{selectedDepartment.building}}
           </div>
           <div>
               <span>Employees: </span> {{getDepEmp(selectedDepartment)}}
           </div>
               
       </div>
    </mat-card-content>
   
</mat-card>

<mat-card class="EmployeeCard">
    <mat-card-content>
        <div class="DashEmpOvr">
            <h2>Employees Overview</h2>
            <table mat-table [dataSource]="employees" >
              
                <ng-container matColumnDef="FirstName">
                  <th mat-header-cell *matHeaderCellDef> First Name </th>
                  <td mat-cell *matCellDef="let employee"> {{employee.first_name}} </td>
                </ng-container>  
                
                <ng-container matColumnDef="LastName">
                    <th mat-header-cell *matHeaderCellDef> Last Name </th>
                    <td mat-cell *matCellDef="let employee">{{employee.last_name }} </td>
                  </ng-container>
                
              
                <tr mat-header-row *matHeaderRowDef="displayedColumnsEmp" ></tr>
                <tr mat-row class="selectedEmployee" *matRowDef="let employee; columns: displayedColumnsEmp;" [class.selected]="employee === selectedEmployee" (click)="onSelectEmp(employee)"></tr>
                
                
              </table>    

                <div *ngIf="selectedEmployee">
         
                 <div>
                   <span>id: </span>{{selectedEmployee.id}}
                 </div>
                 <div>
                   <span>First name: </span>{{selectedEmployee.first_name}}
                 </div>
                 <div>
                  <span>Last Name: </span>{{selectedEmployee.last_name}}
                 </div>
                 <div>
                  <span>Gender: </span>{{selectedEmployee.gender}}
                 </div>
                 <div>
                  <span>Birthdate: </span>{{selectedEmployee.dob}}
                 </div>
                 
                     
             </div>
                </div>
    </mat-card-content>
   
</mat-card>


<mat-card class="TaskDash">
<mat-card-content>
    <div class="DashTaskOvr">
        <h2>Task Overview</h2>
        <table mat-table [dataSource]="Tasks" >        
         
          <ng-container matColumnDef="ToDo">
            <th mat-header-cell *matHeaderCellDef> ToDo </th>
            <td mat-cell *matCellDef="let task"> {{task.title}} </td>
          </ng-container>
        
          
          <ng-container matColumnDef="Deadline">
            <th mat-header-cell *matHeaderCellDef> Deadline </th>
            <td mat-cell *matCellDef="let task">{{task.deadline |  date:"dd/MMMM/yy" }} </td>
          </ng-container>
                 
        
          <tr mat-header-row *matHeaderRowDef="displayedColumnsTask" ></tr>
          <tr mat-row class="selectedTaskRow" *matRowDef="let task; columns: displayedColumnsTask;"  [class.selected]="task === selectedTask" (click)="onSelectTask(task)"></tr>
          
          
        </table>

    
    <div *ngIf="selectedTask">
        
        <div>
          <span>id: </span>{{selectedTask.task_id}}
        </div>
        <div>
          <span>Title </span>{{selectedTask.title}}
        </div>
        <div>
         <span>Deadline: </span>{{selectedTask.deadline |  date:"dd/MMMM/yy"}}
        </div>
        <div>
         <span>Department: </span>{{selectedTask.TaskDepartment.name}}
        </div>
        <div>
         <span>Employees: </span>{{getEmp(selectedTask)}}
        </div>
        
            
    </div>

    </div>
</mat-card-content>

</mat-card>
</mat-card>





      
    


